version: '3.3'

services:
  db:
    image: mysql:8.3
    volumes:
    - ./db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wp_inclua
      MYSQL_USER: usr_wp_inclua
      MYSQL_PASSWORD: e3409da051
    restart: always

  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - db
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: wordpress
    restart: always
    
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: usr_wp_inclua
      WORDPRESS_DB_PASSWORD: e3409da051
      WORDPRESS_DB_NAME: wp_inclua
    volumes:
      - ./wordpress_data:/var/www/html
      - ./config/php.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
    restart: always

